<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TicketMailer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="dBKillHouse" connectionString="Server=115.167.72.114; Database=dBKillHouse;User ID=xclogin;Password=Exceler0n#2012;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <TicketMailer.Properties.Settings>
      <setting name="DoLogs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogsPath" serializeAs="String">
        <value>C:\Users\Public\Logs.txt</value>
      </setting>
      <setting name="OutlookProfile" serializeAs="String">
        <value>support@abmalik.com</value>
      </setting>
      <setting name="RunAtStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AttachmentsDirectory" serializeAs="String">
        <value>C:\Users\malik\source\repos\TicketSystem\TicketSystem\Attachments</value>
      </setting>
    </TicketMailer.Properties.Settings>
  </userSettings>
</configuration>